<!DOCTYPE html>
<html ng-app="osml">
    <head lang="fr">
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="app/css/osml.css"/>
    </head>
    <body>

        <os-container direction="row">
            <os-input>
                <label for="form[1]">Input 1</label>
                <input type="text" id="form[1]" ng-model="form[1]">
            </os-input>
            <os-select>
                <label>Select</label>
                <select ng-model="test">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </os-select>
        </os-container>

        <script src="app/js/vendors/jquery.min.js"></script>
        <script src="app/js/vendors/materialize.min.js"></script>
        <script src="app/js/vendors/angular.min.js"></script>
        <script src="app/js/osml.js"></script>
    </body>
</html>